/* Bembeleyo style sheet */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* Global */
body {
    background-color: #ffffff;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}

/* Header */


/* Navigation */


/* Content */

.center {
    text-align:center; 
    padding:40px
}

.center input {
    min-width: 300px;
    min-height: 35px;
    font-size: 17px;
    text-align: center;
    margin: 5px;
}

.card {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-left: 6px solid #fa983a!important;
    padding: 0.01em 16px;
    color: #000!important;
    background-color: #f8c291!important;
    max-width: 350px;
}

/* Footer */