<!doctype html>

<html lang="fr">

<head>
  <meta charset="utf-8">
  {% if title %}
    <title>{{ title }} - Bembeleyo</title>
  {% else %}
    <title>Bienvenue ! - Bembeleyo</title>
  {% endif %}
  
  <meta name="description" content="Site pour se rencontrer entre dates de naissances">
  <meta name="author" content="Baptiste et William">

  <link rel="stylesheet" href="../static/css/style.css?v=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body>
    <!-- insert here text -->
    <h1>Bembeleyo</h1> 

    <a href="{{ url_for('index') }}">Accueil</a>
    <a href="{{ url_for('login') }}">Se connecter</a>
    <a href="{{ url_for('register') }}">S'inscrire</a>
    <a href="{{ url_for('logout') }}">Se déconnecter</a>
		<!-- <a href="messages.html">Contact</a> -->
		<!-- <a href="send_message.html">Connaissances du jour</a> -->
		<!-- <a href="liste_compte.html">Contacter + de personnes</a> -->
		<a href="decouverte.html">Découvrir des villes</a>
		<a href="parametre.html">Paramètres</a>

    <hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    {% block content %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>

  {% block scripts %}{% endblock scripts %}
  
</body>

</html>
